:root {
  --yellow-background: #FFD360;
  --light-yellow-background: #FFF4D8;
  --light-gray-background: #F8F7F4;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


