:root {
  --yellow-background: #FFD360;
  --light-yellow-background: #FFF4D8;
  --light-gray-background: #F8F7F4;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.searchBar{
  width: 550px;
  padding: 20px 30px;
  margin-top: 50px;
  background-color: var(--light-yellow-background);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 3px 2px gray);
}

.searchBarSmall{
  padding: 10px 20px;
  width: 550px;
  background-color: var(--light-yellow-background);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar > img, .searchBarSmall > img{
  cursor: pointer;
}
.searchBar > input{
  width: 93%;
  border: none;
  background-color: inherit;
  font-size: 20px;
}
.searchBarSmall > input{
  width: 93%;
  border: none;
  background-color: inherit;
  font-size: 16px;
}

.searchBar > input:focus, .searchBarSmall > input:focus{
  outline: none;
}
