

.titleContainer{
    width: 1000px;
    display: flex;
    justify-content: start;
}

.favContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--light-gray-background);
    padding-bottom: 50px;
}

.cellsListContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}