#homeLogo{
    width: 150px;
    height: auto;
    cursor: pointer;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--yellow-background);
    filter: drop-shadow(0px 2px 2px gray);
    position: sticky;
    top: 0px;
    z-index: 4;
    height: 90px;
}

.searchLogo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navDiv{
    display: flex;
    gap: 20px;
    font-weight: bold;
    padding: 0px 30px;
    cursor: pointer;
    height: 100%;
    align-items: center;
}

.navDiv > a{
    height: 100%;
}

.selectedNav{
    color: var(--light-yellow-background);
    text-shadow: 1px 1px gray;
}

.selectedNavLine{
    border-bottom: 4px solid var(--light-yellow-background);
}

.navPlusLogo{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 95%;
    padding: 0px 3px;
}

.navPlusLogo > p{
    padding: 0px 5px;
}